<h1>home</h1>

<div>

    <h4>Register</h4>

    <a href="/product">Product</a>
    <a href="/supplier">Supplier</a>
    <a href="/employee">Employee</a>

</div>

<div>
    <h4>List</h4>

    <a href="/product">Product</a>
    <a href="/supplier">Supplier</a>
    <a href="/employee">Employee</a>
</div>