<h1>Product</h1>
<form action="/warehouse/insertproduct" method="post" class="form">
    <div class="form-control">
        <label for="product">Product</label>
        <input type="text" name="product" placeholder="Product">
    </div>
    <input type="submit" value="Submit">
</form>