<h1>Supplier</h1>
<form action="/warehouse/insertsupplier" method="post" class="form">
    <div class="form-control">
        <label for="supplier">Supplier</label>
        <input type="text" name="supplier" placeholder="Supplier">
    </div>
    <div class="form-control">
        <label for="cnpj">Cnpj</label>
        <input type="text" name="cnpj" placeholder="Cnpj">
    </div>
    <div class="form-control">
        <label for="contract_date">Contract Date</label>
        <input type="date" name="contract_date" placeholder="Contract Date">
    </div>
    <input type="submit" value="Submit">
</form>